.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 648px;
  margin: 46px auto 56px 235px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 718px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-1 {
  min-height: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

.u-section-1 .u-table-1 {
  width: 532px;
  margin: 74px auto 0;
}

.u-section-1 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-8 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-block-34f8-143 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 74px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-top: -1413px;
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 72px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: -139px;
    margin-left: auto;
  }

  .u-table-center {
    margin-left: auto;
    margin-right: auto;
  }


  .u-section-1 .u-btn-1 {
    margin-top: -285px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-2 .u-table-1 {
  width: 954px;
  margin: 23px auto 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-block-7ffb-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}