.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-table-1 {
  width: 737px;
  margin: 163px auto 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-block-1b47-21 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -59px auto 0 802px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 664px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -114px auto 0 664px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -114px auto 0 664px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 802px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 802px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    height: 119px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 216px;
    margin-left: 602px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 464px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 464px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 464px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 602px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 382px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 244px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 244px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 244px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 382px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 202px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 64px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 64px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 64px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 202px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 2px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 2px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 2px;
  }
}