<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login/Sign up</title>
    <link rel="stylesheet" href="../static/css/signIn-signUp.css" th:href="@{/css/signIn-signUp.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery2.js" defer=""></script>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="social-icons">
                <img src="../static/assets/img/fb.png" th:src="@{assets/img/fb.png}">
                <img src="../static/assets/img/tw.png" th:src="@{assets/img/tw.png}">
                <img src="../static/assets/img/gp.png" th:src="@{assets/img/gp.png}">
            </div>
            <form id = "login" class="input-group" th:action="@{/login}" method="post" th:object="${loginDto}">
                <input type="text" id = "Username" class="input-field" placeholder="Username" required
                       autofocus th:field="*{username}">
                <p th:errors="*{username}">Username error</p>
                <input type="password" id = "Password" class="input-field" placeholder="Enter Password" required th:field="*{password}">
                <button type="submit" class="submit-btn">Log in</button>
            </form>
            <form id = "register" class="input-group" th:action="@{/register}" th:object="${registerDto}" method="post">
                <input type="text" class="input-field" placeholder="Username" required  th:field="*{username}">
                <p th:errors="*{username}">Username not correct.</p>
                <input type="email" class="input-field" placeholder="Email Id" required th:field="*{email}">
                <p th:errors="*{email}">Email not correct.</p>
                <input type="password" class="input-field" placeholder="Enter Password" required th:field="*{password}">
                <p th:errors="*{password}">Passwords do not match.</p>
                <input type="password" class="input-field" placeholder="Repeat Password" required th:field="*{repeatPassword}">
                <p th:errors="*{repeatPassword}">Passwords do not match.</p>
                <input type="text" class="input-field" placeholder="Enter First name" required th:field="*{firstName}">
                <p th:errors="*{firstName}">First name is invalid.</p>
                <input type="text" class="input-field" placeholder="Enter Last name" required th:field="*{lastName}">
                <p th:errors="*{lastName}">Last name is invalid.</p>
                <input type="text" class="input-field" placeholder="Enter Street name" required th:field="*{addressDto.street}">
                <p th:errors="*{addressDto.street}">Street is invalid.</p>
<!--                <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>-->
                <label class="input-field" th:text="#{location.label.city}"  >City</label><br>
                <select th:field="*{addressDto.cityId}">
                    <option th:each="city : ${cities}"
                            th:value="${city.getId()}"
                            th:text="${city.getName()}">
                        CountryOne
                    </option>
                </select>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>

    <script>
        var x = document.getElementById("login")
        var y = document.getElementById("register")
        var z = document.getElementById("btn")
        var k = document.getElementsByClassName("form-box")

        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";
            k[0].style.height = "480px"
        }

        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
            k[0].style.height = "580px"
        }

        window.onload = function exampleFunction() {
            login();
        }
    </script>


    <!--<input type="checkbox" class="check-box"><span>Remember Password</span>-->
</body>
</html>